.container {
  display: flex;
  padding: 24px 60px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(246, 246, 246, 1);
  border-bottom: 1px solid #d0cfcf;
  @media (max-width: 500px) {
    padding: 24px 16px;
  }
}
.leftNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    max-width: 194px;
    width: 100%;
    @media (max-width: 500px) {
      max-width: 138px;
    }
    img {
      width: 100%;
    }
  }
}
.nav {
  display: flex;
  align-items: center;
  @media (max-width: 500px) {
    display: none;
  }
}
.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);
    cursor: pointer;
    padding: 8px 12px;
    outline: none;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .dropdownContent {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    // min-width: 160px;
    width: max-content;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.2s ease;
    box-shadow: 0px 4px 9.9px 0px #00000021;
    padding: 10px 12px;
    .dropdownRegion {
      display: flex;
      gap: 12px;
      .region {
        display: flex;
        flex-direction: column;
        gap: 12px;
        h3 {
          font-weight: 600;
        }
        div {
          display: flex;
          flex-direction: column;
          a {
            padding: 10px 12px;
            text-decoration: none;
            color: #292929;

            &:hover {
              background-color: #f2f2f2;
            }
          }
        }
      }
    }
    a {
      padding: 10px 12px;
      text-decoration: none;
      color: #292929;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  &:hover .dropdownContent {
    display: flex;
    opacity: 1;
  }
}
.contactUs {
  display: block;
  @media (max-width: 500px) {
    display: none;
  }
}
.menuIcon {
  display: none;
  @media (max-width: 500px) {
    display: flex;
  }
}
