.container {
  display: flex;
  padding: 24px 60px;
  justify-content: space-between;
  background-color: rgba(246, 246, 246, 1);
  border-bottom: 1px solid #d0cfcf;
}
.leftNav {
  display: flex;
  justify-content: space-between;
  .logo {
    max-width: 194px;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
.nav {
  display: flex;
  align-items: center;
}
.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);
    cursor: pointer;
    padding: 8px 12px;
    outline: none;
  }

  .dropdownContent {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    min-width: 160px;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.2s ease;
    padding: 10px;
    a {
      padding: 10px 12px;
      text-decoration: none;
      color: #292929;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  &:hover .dropdownContent {
    display: flex;
    opacity: 1;
  }
}
