.container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  .filterSection {
    width: 90%;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: 500px) {
      flex-direction: column;
      gap: 16px;
    }
    .dropdownWrapper {
      display: flex;
      height: 100%;
      @media (max-width: 500px) {
        width: 100%;
      }
    }
  }
  .cardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 90%;
    margin: 40px auto;
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
