.section {
  background-color: #f6f6f6;
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  padding-left: 20px;

  margin: 20px auto;
  @media (max-width: 500px) {
    padding: 50px 16px;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 30px;
  }
  .header {
    // outline: 1px solid red;
    // max-width: 952px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: 1.1;
    flex-direction: column;
    gap: 44px;
    opacity: 0;
    animation: fadeSlideUp 1s ease-out forwards;
    .headerContent {
      h1 {
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        max-width: 770px;

        @media (max-width: 500px) {
          font-size: 32px;
          line-height: 50px;
        }
      }
      p {
        margin-top: 12px;
        font-size: 20px;
        color: #676767;
        max-width: 500px;
        @media (max-width: 500px) {
          font-size: 14px;
        }
      }
    }
  }
  .input {
    display: flex;
  }
  .heroImage {
    // outline: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    animation: fadeSlide 1s ease-out forwards;
    img {
      width: 80%;
    }
  }
  .stalkImage {
    display: flex;
    align-items: center;
    gap: 12px;
    p {
      font-weight: 600;
    }
  }
}
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateX(-140px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(140px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
